img
{
  height: 200px;
  width: 250px;
  overflow: hidden;
}
body
{
  background-image:url("http://www.ideasphere.com/wp-content/uploads/2016/08/Savin-NY-Website-Background-Web-1.jpg");
}
.pocetna_stranica
{
  border: 1px solid #ccc;
  background-color:lightblue;
  float:left;
  margin-left: 16px;
  text-align: center;

}
.pocetna_stranica:hover
{
    border: 1px solid #777;
}
.btn_zapocni
{
  border: 1px solid blue;
  font-size: 16px;
  padding: 10px 15px;
}
.btn_zapocni:hover
{
  background-color: #008CBA;
}
.meniul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #668cff;
}
.meni
{
  float: left;
}
.meni a
{
    font-size: 21px;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.meni a:hover
{
  font-size: 23px;
}

.message
{
  font-size: 21px;
  font-weight: bold;
  color: red;
}
.logout
{
  background-color:  #ff0066 ;
}
.hide
{
  display: none;
}
